configuration {
  display-drun: "> ";
  display-window: "Windows:";
  drun-display-format: "{name}";
  show-icons: true;
  font: "JetBrainsMono Nerd Font 16";
  modi: "window,run,drun,emoji,calc";
}

@theme "theme.rasi"
